<div class="header">
  <img
    class="img-header"
    src="https://s3-alpha-sig.figma.com/img/ba9a/1c65/fecfcc65e8ac77fbd8191704b9e89e2b?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZzEnaYFBKIhzmUThoNEu1P01ErAxdmIzT5JzGJvDG0qm1LseUBoOwVkIWl-L-i27SdliebzoJ~O5dMvfe2y7ovOt3wxkY4cE1YYYfYJb9TbKuxri0bJm43YYQi12o0YrhMnRcIGgI1spYvVyYeGSCw1zBFfUO2c-k4~~t2pielFT2TR2AoKa1CO7mfB5rFb9uBZLfOb-RBjZDqD91eVRXqqNpuEgjtZjxy7sNL-DxikNzf2VId9S9HS6S6zhkH0zUNrP0rPEj4nOMnfr65yfdffNwszteg6cTOetWqoeoIxYUz-ymUygBx53ZgGUvLJ5cL9wvOVRasJp1h1hdpDiTw__"
    alt="" />
</div>
<div class="img-g">
  <img
    class="imgG-header"
    src="https://s3-alpha-sig.figma.com/img/ba9a/1c65/fecfcc65e8ac77fbd8191704b9e89e2b?Expires=1731283200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZzEnaYFBKIhzmUThoNEu1P01ErAxdmIzT5JzGJvDG0qm1LseUBoOwVkIWl-L-i27SdliebzoJ~O5dMvfe2y7ovOt3wxkY4cE1YYYfYJb9TbKuxri0bJm43YYQi12o0YrhMnRcIGgI1spYvVyYeGSCw1zBFfUO2c-k4~~t2pielFT2TR2AoKa1CO7mfB5rFb9uBZLfOb-RBjZDqD91eVRXqqNpuEgjtZjxy7sNL-DxikNzf2VId9S9HS6S6zhkH0zUNrP0rPEj4nOMnfr65yfdffNwszteg6cTOetWqoeoIxYUz-ymUygBx53ZgGUvLJ5cL9wvOVRasJp1h1hdpDiTw__"
    alt="" />
</div>
