<div class="pokemon-card">
  <div class="content">
    <div class="header-card">
      <div class="info-left">
        <div class="pokemon-card__types">
          <span class="pokemon-card__type pokemon-card__type--grass">Grass</span>
          <span class="pokemon-card__type pokemon-card__type--poison">Poison</span>
        </div>

        <div class="pokemon-card__info">
          <h1>Bulbasaur</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo molestias corporis dignissimos modi</p>
          <button class="know-more">Know More</button>
        </div>
      </div>
    </div>

    <div class="id-image">
      <div class="pokemon-card__number">#001</div>
      <div class="pokemon-card__image">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full//001.png" alt="" />
      </div>
    </div>
  </div>
</div>
