@import '../variaveis-themes/variaveis.scss';
@import '../breakpoints/breakingpoints.scss';
.pokemon-card {
  width: 344px;
  height: 196px;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
  border-radius: 20px;
  border: none;
  top: 447px;
  left: 170px;
}

.content {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.info-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 5px;
}

.pokemon-card__types {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: $font;
  font-weight: 600;
  font-size: 10px;
  width: 50px;
  height: 21px;
  .pokemon-card__type {
    background-color: #bfc66b;
    padding: 6px 12px;
    border-radius: 10px;
  }
}

.pokemon-card__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  h1 {
    font-family: $font;
    font-weight: 700;
    font-size: 27px;
    //color: var(--primary-color);
  }
  p {
    font-family: $font;
    font-weight: 400;
    font-size: 13px;
  }
}

.id-image {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

img {
  height: 120px;
  width: 123px;
  margin-top: 25px;
}

.know-more {
  background-color: #f0f1e5;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  color: #363131;
  font-weight: 700;
  font-size: 9px;
  font-family: $font;
  line-height: 11.16px;
  width: 87px;
  height: 28px;
}

.pokemon-card__number {
  font-family: $font;
  font-weight: 600;
  color: #363131;
}
