<div class="pokemon-card" *ngIf="pokemon">
  <div class="content">
    <div class="header-card">
      <div class="info-left">
        <div class="pokemon-card__types">
          <span
            class="pokemon-card__type"
            *ngFor="let type of pokemon.types"
            [class]="'pokemon-card__type--' + type.toLocaleLowerCase()"
            >{{ type }}</span
          >
        </div>

        <div class="pokemon-card__info">
          <h1>{{ pokemon.name }}</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo molestias corporis dignissimos modi</p>
          <button class="know-more">Know More</button>
        </div>
      </div>
    </div>

    <div class="id-image">
      <div class="pokemon-card__number">{{ LeadingZero(pokemon.number) }}</div>
      <div class="pokemon-card__image">
        <img [src]="pokemon.image" alt="" />
      </div>
    </div>
  </div>
</div>
